.footer {
    margin-top: auto;
    background-color: white;
    text-align: center;
    padding: 20px 0 20px;
    font-size: 14px;
    color: #333; 
    position: relative;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for a slight raised effect */
}

.footer p {
    margin: 0;
    font-weight: 400;
}