

.brand-name{
    width: auto;
}
.menu-item{
    width: auto;
}
.min-vw-100{
    padding: 0 !important;
}
.custom-navbar
{
    display: flex;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.menu-item-container{
    flex-direction: row-reverse !important;
    padding-right: 20%;
}
.collapsed{
    width: unset;
    margin: unset;
}